{% extends 'base.html' %}
{% load static %}
{% block body %}
<center>
<div class=" container-fluid row nt-3 p-2 col-11 " style="font-size: 13px;">
		<div class="col-5 ml-2">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field mt-2">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control form-control-sm" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field mt-2">
							<input class="form-control " type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field mt-2">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field mt-2">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
					
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>

				
				<div id="paypal-button-container"></div>



			</div>
		</div>
		<div class="col-5 ml-5">
			<div class="box-element">
				<a  class="btn btn-outline-info" href="{% url 'index' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" style="border-radius: 10px;" src=""></div>
					<div style="flex:2"><p></p></div>
					<div style="flex:1"><p></p></div>
					<div style="flex:1"></p></div>
				</div>
 
				<h5>Items:   </h5>
				<h5>Total:   </h5>
			</div>
		</div>
	</div>
</center>
{% endblock body %}